{% extends "::base.html.twig" %}

{% block title %}JbnahanSchoolBundle:Student:register{% endblock %}

{% block body %}
<h1>Welcome to the Student:register page</h1>
<!--<form action="" method="POST" novalidate="novalidate"> //-->
{{ form_start(form) }}
    <p>{{ form_errors(form) }}</p>
{{ form_rest(form) }}
    <p>{{ form_row(form.firstName) }}</p>
    
    <p>{{ form_row(form.lastName) }}</p>
    
    <p>{{ form_row(form.bornOn) }}</p>
    
    <p>{{ form_row(form.save) }}</p>
<!--</form> //-->
{{ form_end(form) }}
{% endblock %}
